# CODEOWNERS file for PINA

# The default owners for everything in the repo
# (Pull requests touching any file in "/" will require review from at least one of these)
*                        @PINA-org/pina-maintainers
pina/                    @PINA-org/pina-maintainers
readme/                  @PINA-org/pina-maintainers
tests/                   @PINA-org/pina-maintainers
tutorials/               @PINA-org/pina-maintainers
pyproject.toml           @PINA-org/pina-committee @ndem0

# Owners for documentation
docs/                    @PINA-org/pina-maintainers

# Owners for JOSS
joss/                    @ndem0 @annaivagnes @dario-coscia

# Owners for project-wide config (GitHub workflows, formatting, etc.)
.github/                 @PINA-org/pina-committee
.gitattributes           @PINA-org/pina-committee
.gitignore               @PINA-org/pina-committee

# Security & policy files
CITATION.cff             @PINA-org/pina-committee
CONTRIBUTING.md          @PINA-org/pina-committee
LICENSE.rst              @PINA-org/pina-committee 
SECURITY.md              @PINA-org/pina-committee
CODE_OF_CONDUCT.md       @PINA-org/pina-committee
MAINTAINERS.md           @PINA-org/pina-committee
ANTITRUST.md             @PINA-org/pina-committee
CHARTER.md               @PINA-org/pina-committee
GOVERNANCE.md            @PINA-org/pina-committee
STEERING-COMMITTEE.md    @PINA-org/pina-committee
TRADEMARKS.md            @PINA-org/pina-committee
utils                    @PINA-org/pina-committee
